/* style.css */

body {

    font-family: 'Verdana', sans-serif;
}

.recipe {

    font-size: 48px;
    background-color: rgb(150, 125, 140);
}

.main-header {

    font-size: 48px;
    text-align: center;
}

.hartrue {

    color: white;
    background-color: rgb(125, 150, 140);
}

#return-home {

    color: blue;
    font-size: 36px;
    font-weight: 600;
}